name: C++ CI

on:
    push:
      branches: [ main ]
    pull_request:
      branches: [ main ]


jobs:
    build:
      steps:
        - uses: actions/checkout@v2
        - name: install dependencies
          run: sudo apt install -y build-essential
        - name: Compile C++ 2017
          run: g++ hello.cpp -std=c++17 -o Herrow
  